.Box-geral {
    background-color: #f3f2ef;
    width: 100%;
    height: 2000px;
}

.Box-header {
    position: absolute;
    width: 782px;
    height: 2980px;
    top: 76px;
    margin-left: 230px;
}

.Img-capa {
    position: relative;
    width: 782px;
    height: 195px;
    border: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Icone-cam {
    position: relative;
    display: inline-block;
    left: 438px;
    bottom: 320px;
    border: 3px solid;
    border-color: white;
    border-radius: 100px;
    background-color: white;
    color: #0a66c2;
    font-size: 18px;
}

.Icone-cam :hover {
    background-color: white;
    color: #004182;
}

.Foto-Profile {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    bottom: 112px;
    right: 285px;
    border: 2px solid;
    border-color: white;
    border-radius: 49.9%;

}

.Box-tudoerrado {
    position: relative;
    bottom: 178px;
    left: 7px;
}

.Box-PerfilP {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    width: 782px;
    height: 545px;
    border: 2px;
    border-radius: 8px;

}

h1 {
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    margin-right: 8px;
}

.Name-pronome {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 298px;
    top: 64px;
    font-size: 15px;
}

.Box-carglo {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    opacity: 90.00%;
    position: relative;
    display: inline-block;
    top: 25px;
    right: 245px;
    margin-top: 8px;
}

.Ender-inf {
    position: relative;
    left: 125px;
    bottom: 26px;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    left: 127px;
}

.Contact {
    position: relative;
    bottom: 27px;
    left: 130px;
    font-size: 14px;
    outline: none;
    color: #0a66c2;
    text-decoration: none;
}

.Contact:hover {
    text-decoration: underline;
    color: #004182;
}

.Conect {
    position: relative;
    right: 220px;
    font-size: 14px;
    line-height: 17, 5px;
}

.Box-bottom {
    position: relative;
    top: 40px;
    right: 150px;
}

.Bottons-pro {
    border: solid 2px rgba(0, 0, 0, 0.253);
    border-radius: 16px;
    outline: none;
    font-size: 14px;
    width: 184px;
    height: 32px;
    color: white;
    background-color: #0a66c2;
    margin-left: 8px;

}

.Bottons-pro:hover {
    background-color: #004182;
    cursor: pointer;
}

.Bottons-pro2 {
    border: solid 2px;
    border-radius: 16px;
    outline: none;
    font-size: 14px;
    width: 184px;
    height: 32px;
    color: #0a66c2;
    background-color: #ffffff;
    margin-left: 8px;
    border-color: #0a66c2;

}

.Bottons-pro2:hover {
    color: #004182;
    background-color: #70b5f9;
    border: solid 3px;
    cursor: pointer;
}

.Bottons-pro3 {
    border: solid 2px rgba(0, 0, 0, 0.253);
    border-radius: 16px;
    outline: none;
    font-size: 14px;
    width: 74px;
    height: 32px;
    color: dimgray;
    background-color: #ffffff;
    margin-left: 8px;
    border-color: dimgray;

}

.Bottons-pro3:hover {
    color: dimgray;
    background-color: #EBEBEB;
    border: solid 3px;
    cursor: pointer;

}

.Section-empre {
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgba(105, 105, 105, 0.299);
    width: 663px;
    height: 59px;
    top: 55px;
    left: 23px;
}

.Section-p {
    padding-left: 5px;
    text-align: left;
    font-size: 14px;
    display: inline-block;
}

.Section-a {
    font-size: 14px;
}

.Box-Analise {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    width: 782px;
    height: 210px;
    border: 2px;
    border-radius: 8px;
}

.Anali-prin {
    position: relative;
    width: 179px;
    height: 54px;
    display: block;
    left: 12px;
}

.Anali-prin h3 {
    font-size: 20px;
    text-align: left;
}

.Anali-prin span {
    position: relative;
    bottom: 25px;
    font-size: 14px;
}

.Anali-icon {
    position: relative;
    bottom: 23px;
}

.Box-anali-principal {
    width: 782px;
    height: 131px;
    position: relative;
    display: inline-block;
}
.Box-anali-1{
    display: inline-block;
    position: relative;
}
.Box-anali-1 h3{
    position: relative;
    font-size: 16px;
    
}
.Box-anali-1 p{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}
.Box-anali-1-icon{
    display: inline;
    position: relative;
    top: 4px;
    right: 12px;
    
}

.Box-anali-2{
    display: inline-block;
    position: relative;
}
.Box-anali-2 h3{
    position: relative;
    display: inline;
    font-size: 16px;
}
.Box-anali-2 p{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}
.Box-anali-2-icon{
    display: inline;
    position: relative;
    top: 4px;
    right: 12px;
    
}
.Box-anali-3{
    display: inline-block;
    position: relative;
}
.Box-anali-3 h3{
    position: relative;
    font-size: 16px;
}
.Box-anali-3 p{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}
.Box-anali-3-icon{
    display: inline;
    position: relative;
    top: 4px;
    right: 12px;
    
}
.Icone-Premium {
    position: relative;
    left: 602px;
    font-size: 28px;
    bottom: 80px;
    color: rgb(198, 169, 3);
}

.Icone-pencil {
    position: relative;
    left: 615px;
    font-size: 28px;
    bottom: 80px;
    color: grey;
    background-color: white;
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
    border-color: white;
}

.Icone-pencil:hover {
    color: #000000;
    opacity: 8.0%;
    background-color: #000000;
    opacity: 60.0%;
    border: 2px solid;
    border-radius: 20px;
    border-color: grey;
}

.Rodape {
    position: relative;
    width: 1128px;
    height: 201px;
}

.List-rodape {
    position: relative;
    width: 564px;
    height: 140px;
    top: 33px;
}

.Par-rodape {
    top: 20px;
    right: 70px;
    position: relative;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.Par-rodape2 {
    bottom: 102.90px;
    left: 80px;
    position: relative;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.Par-rodape3 {
    bottom: 218.80px;
    left: 230px;
    position: relative;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}